@font-face {
	font-family: 'got';
	src: url('got.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: white;
	height: 100vh;
	background-image: url('../assets/bg.png');
	background-size: cover;
}

h1 {
	color: #5e7c95;
	font-size: 70px;
	font-family: 'got', sans-serif;
	margin-bottom: 45px;
}

.small {
	font-size: 30px;
	position: relative;
	top: -0.6em;
}

.row {
	display: flex;
}

.GOTlogo {
	height: 80px;
	display: block;
	margin: 0 auto;
}

.circle {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #7dbdf1;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	text-align: center;
}

.dragon {
	height: 350px;
	object-fit: scale-down;
	position: fixed;
	bottom: -15px;
	right: 0;
}

.game {
	margin: 70px;
}

.symbolContainer {
	position: relative;
	width: 100px;
	height: 100px;
	width: 10em;
}

.cross,
.check {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.cross.animate,
.check.animate {
	visibility: visible;
}

.crossContainer {
	margin: 50px 0;
}

.cross {
	width: 100px;
	height: 100px;
}

.line1,
.line2,
.Vline1,
.Vline2 {
	position: absolute;
	width: 5px;
	height: 0;
	border-radius: 5px;
}

.line1,
.line2 {
	background-color: #861212;
	transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
	bottom: 0;
	left: 0;
	transform: rotate(45deg);
	transform-origin: bottom left;
}

.line2 {
	top: 0;
	left: 0;
	transform: rotate(-45deg);
	transform-origin: top left;
}

.animate .line2 {
	height: 140px;
}

.animate .line1 {
	height: 140px;
	transition-delay: 0.2s;
}

.check {
	width: 100px;
	height: 100px;
}

.Vline1,
.Vline2 {
	background-color: #4caf50;
	transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.Vline1 {
	bottom: 25px;
	left: 49px;
	transform: rotate(35deg);
	transform-origin: bottom left;
}

.Vline2 {
	bottom: 0;
	left: 0;
	transform: rotate(-45deg);
	transform-origin: top left;
}

.animate .Vline2 {
	height: 70px;
}

.animate .Vline1 {
	height: 140px;
	transition-delay: 0.2s;
}

#isDead {
	width: 10em;
	text-align: center;
}
