@font-face {
	font-family: 'got';
	src: url('got.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background-color: #111314; */
	color: white;
	height: 100vh;
	background-image: url('../assets/bg.png');
	background-size: cover;
}

h1 {
	color: #5e7c95;
	font-size: 70px;
	font-family: 'got', sans-serif;
	margin-bottom: 45px;
}

.small {
	font-size: 30px;
	position: relative;
	top: -0.6em;
}

.row {
	display: flex;
}

.GOTlogo {
	height: 80px;
	display: block;
	margin: 0 auto;
}

.circle {
	width: 150px; /* Largeur du cercle */
	height: 150px; /* Hauteur du cercle */
	border-radius: 50%; /* Forme en cercle */
	background-color: #7dbdf1; /* Couleur de fond */
	color: black;
	display: flex;
	justify-content: center; /* Centre horizontalement */
	align-items: center; /* Centre verticalement */
	font-size: 1.2em; /* Taille du texte */
	text-align: center; /* Centre le texte si plusieurs lignes */
}

.dragon {
	height: 350px;
	object-fit: scale-down;
	position: fixed;
	bottom: -15;
	right: 0;
}

.game {
	margin: 70px;
}

/* cross */

.crossContainer {
	margin: 50px 0;
}

.result {
	position: relative;
	width: 100px;
	height: 100px;
}

.cross {
	position: relative;
	width: 100px;
	height: 100px;
}

.line1,
.line2 {
	position: absolute;
	width: 5px;
	height: 0;
	background-color: #861212;
	transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	border-radius: 5px;
}

.line1 {
	bottom: 0;
	left: 0;
	transform: rotate(45deg);
	transform-origin: bottom left;
}

.line2 {
	top: 0;
	left: 0;
	transform-origin: top left;
	transform: rotate(-45deg);
}

.animate .line2 {
	height: 140px;
}

.animate .line1 {
	height: 140px;
	transition-delay: 0.2s;
}

/* check cross */

.check {
	position: relative;
	width: 100px;
	height: 100px;
}

.Vline1,
.Vline2 {
	position: absolute;
	width: 5px;
	height: 0;
	background-color: #4caf50;
	transition: height 0.4s cubic-bezier(0.4, 0, 0.2, 1);
	border-radius: 5px;
}

.Vline1 {
	bottom: 25px;
	left: 49px;
	transform: rotate(35deg);
	transform-origin: bottom left;
}

.Vline2 {
	bottom: 0;
	left: 0;
	transform: rotate(-45deg);
	transform-origin: top left;
}

.animate .Vline2 {
	height: 70px;
}

.animate .Vline1 {
	height: 140px;
	transition-delay: 0.2s;
}
