.game {
	margin: 100px;
}

.crossContainer {
	margin: 50px 0;
}

.cross {
	position: relative;
	width: 100px;
	height: 100px;
}

.line1,
.line2 {
	position: absolute;
	width: 5px;
	height: 0;
	background-color: red;
	transition: height 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	border-radius: 5px;
}

.line1 {
	bottom: 0;
	left: 0;
	transform: rotate(45deg);
	transform-origin: bottom left;
}

.line2 {
	top: 0;
	left: 0;
	transform-origin: top left;
	transform: rotate(-45deg);
}

.animate .line2 {
	height: 140px;
}

.animate .line1 {
	height: 140px;
	transition-delay: 0.2s;
}
